{% extends "base.html" %}
{% block content %}
<legend class="border-bottom mb-4">How It Works</legend>
<p style="font-size: large;">
Using the same passwords on different websites is not safe. 
But remembering different passwords is a herculean task. 
However, using a password manager is a good solution but not the best solution. 
Since passwords as kept in servers. <br> <br>
We OnePassword give you the best solution. 
The user only needs to remember a master password and an easily recallable keyword to generate different copies of the master password.  
The keyword can be hostname with different cases.<br><br>
For example, <br>
master password  = password123 <br>
keyword for Spotify is spotify <br>
Generated the password bc9d1c3a9a02a4e1. <br><br>
This keyword adds additional security to the password. None of the data are recorded by OnePassword. 
</p>
{% endblock content %}